* {
    background-color: black;
    color: white;
}
h1 {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}
img {
    border: 5px solid;
    display: block;
    justify-content: center;
    width: 50%;
    margin: auto;
    
}
div {
    margin-top: 5rem;
    max-height: 50%;
}

.all-text {
    text-align: center;
    margin-top: 1rem;
}